/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.cotainer {
  width: 1440px;
  padding: 36px 156px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 8px;
}
button {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  padding-left: 16px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-subcontainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 48px;
  position: absolute;
  background: #fff;
  top: 152px;
  z-index: 99;
}
.gallery-text {
  margin-top: 4px;
  text-align: center;
}

.galerry-list {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  position: relative;
}

.gallery-img {
  width: 100%;
  height: 200px;
}

.gallery-subtitle {
  font-weight: 600;
  font-size: 12px;

  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-subtext {
  font-weight: 400;
  font-size: 12px;

  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.load-more-hidden {
  display: none;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
}

.btn-more {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.loader-container {
  display: flex;
  justify-content: center;
}
